.amount {
    background-color: aliceblue;
    padding: 1rem;
  }
  .transactionItem {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 1.2rem;
  }
  
  .transactionContent {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
    font-weight: bold;
    padding: 0;
    place-items: center;
  }
  
  .detail-list-content button {
    margin-top: 0;
  }
  
  .details {
    text-align: left;
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: 1fr;
    font-weight: bold;
    margin: 1rem;
  }

  .button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}
.input input {
    font-size: 14px;
    border: 1px solid #adadad;
    border-radius: 2px;
    margin-bottom: 5px;
}

.transaction{
    background-color: #12002b;
    padding: 1rem;
}
  .back {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 2rem;
    gap: 0.8rem;
    cursor: pointer;
    color: aliceblue;
  }
  .pen{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .backArrow {
    font-size: 1.5rem;
  }
  
  .transactions{
    background-color: aliceblue;
  }
  
  .listTitles {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
    font-weight: bold;
    padding: 1rem 24px;
    border-bottom: 2px solid gray;
    color: aliceblue;
  }
  