.transactionItem {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 1.2rem;
  }
  
  .transactionContent {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
    font-weight: bold;
    padding: 0;
    place-items: center;
  }

  .details {
    text-align: left;
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: 1fr;
    font-weight: bold;
    margin: 1rem;
  }

  .button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}
.input input {
    font-size: 14px;
    border: 1px solid #adadad;
    border-radius: 2px;
    margin-bottom: 5px;
}

.pen{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }